.boton, .boton-aceptar {
  background-color: #0f119b;
  color: #fcfafa;
  text-decoration: none;
  padding: 0rem;
  text-transform: uppercase;
  border-radius: 0rem;
  margin: 0.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: small;
  width: 50%;
  text-align: center;
  display: inline-block; }

.boton:hover, .boton-aceptar:hover {
  filter: opacity(1);
  transform: scale(1.04);
  color: #f6f8f5;
  background-color: #000155; }

.boton-aceptar {
  background-color: #2d0f9b;
  border-radius: 10px;
  width: 70px;
  height: 50px;
  align-items: center;
  justify-items: center;
  justify-content: center; }

.boton, .boton-aceptar {
  background-color: green;
  color: white;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  align-content: center;
  border-radius: 00.5rem;
  margin: 0.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium; }
  .boton .boton:hover, .boton-aceptar .boton:hover, .boton .boton-aceptar:hover, .boton-aceptar .boton-aceptar:hover {
    filter: opacity(1);
    transform: scale(1.06);
    color: #c05f1e; }

.boton, .boton-aceptar {
  background-color: #0f119b;
  color: #fcfafa;
  text-decoration: none;
  padding: 0rem;
  text-transform: uppercase;
  border-radius: 0rem;
  margin: 0.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: small;
  width: 50%;
  text-align: center;
  display: inline-block; }

.boton:hover, .boton-aceptar:hover {
  filter: opacity(1);
  transform: scale(1.04);
  color: #f6f8f5;
  background-color: #000155; }

.boton-aceptar {
  background-color: #2d0f9b;
  border-radius: 10px;
  width: 70px;
  height: 50px;
  align-items: center;
  justify-items: center;
  justify-content: center; }

.derechos {
  color: #fcf9f9;
  grid-area: navFooter;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: medium; }

.redes {
  grid-area: redes;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%; }

.imgRedes {
  display: flex;
  justify-content: space-around;
  align-items: center; }

footer {
  margin-top: 50px;
  width: 100%; }

.datos2 {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  width: 100%;
  background-color: #eff1f3;
  padding: 5px;
  border-radius: 7px;
  border-color: #6c5cc4;
  border: 2px solid #6a11cf; }

.datos {
  font-size: 20px;
  text-align: center;
  width: 0px;
  margin-bottom: 0; }

.select {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #c2d0e2;
  color: #000005;
  display: block;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 7px;
  border-color: #6c5cc4;
  width: 100%; }

.option {
  color: #700751;
  font-size: xx-small;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2px; }

.relleno {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 10px;
  padding: 0;
  border-radius: 5px;
  width: 100%; }

.text {
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1; }

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #aae4fb;
  background: #a4cddd;
  margin: auto auto auto auto;
  padding: 3rem;
  border: 10rem;
  width: 60%;
  border-radius: 25px; }

input {
  margin-top: 0;
  font-size: 19px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: #f3eeec;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #44448b; }

.form {
  padding-top: 2rem;
  padding-bottom: 3rem; }

h1 {
  text-align: center;
  color: #0a06f7;
  padding-top: 1.5rem;
  font-family: "Euphoria Script", cursive;
  font-size: 3rem;
  font-weight: bold; }

h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; }

p {
  margin: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif; }

.a {
  margin: 1rem; }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%; }

.hijo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a93a5;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px cornsilk; }

.ubi {
  text-align: center;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 2rem; }

.contiene {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin: 2rem; }

#hamburguesa {
  display: none; }

.gridHeader {
  display: grid;
  grid-template-areas: "logo none none nav"; }

.gridFooter {
  display: grid;
  grid-template-areas: "navFooter none none redes";
  background-color: #333;
  margin-bottom: 0rem; }

.img1 {
  max-width: 100%;
  max-height: fit-content;
  border-radius: 2rem;
  align-content: center;
  align-items: center; }

/* MAIN DE CONTACTO */
.foto {
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  align-items: center;
  background-color: #a4cddd;
  max-width: 100%;
  margin-top: 1.5rem;
  border-radius: 2rem;
  max-height: max-content; }

.foto:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }

.promociones {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap; }

header {
  background-color: #333;
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 0%; }

#id {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header a {
  color: #fffbfc;
  text-decoration: none;
  font-size: large; }

.navegador {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  padding-right: 2.5rem; }

.navegador ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.navegador ul li {
  display: inline-block;
  position: relative;
  flex-direction: column; }

.navegador ul li a {
  display: block;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.navegador ul li a:hover {
  background: #83ccee;
  border-radius: 5px; }

@media (max-width: 2500px) {
  header a {
    font-size: x; }
  .contiene {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem; }
  .imgRedes {
    max-width: 3rem; }
  .mapa {
    display: none; }
  .mapaP {
    display: none; } }

@media (max-width: 768px) {
  header a {
    font-size: small; }
  .contiene {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    margin: 2rem; }
  #hamburguesa {
    grid-area: nav;
    display: block; }
  .container {
    background-color: #333;
    display: block;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20%; }
  .boton, .boton-aceptar {
    font-size: small; }
  .navegador {
    display: none; }
  .ImgRedes {
    max-width: 1rem; }
  .mapaG {
    display: none; }
  .mapa {
    display: contents; }
  .mapaP {
    display: none; }
  .derechos {
    font-size: small; } }

@media (max-width: 350px) {
  header a {
    font-size: x-small; }
  .contiene {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    margin: 1rem; }
  .boton, .boton-aceptar {
    font-size: small; }
  .imgRedes {
    max-width: 1.2rem; }
  .mapaG {
    display: none; }
  .mapa {
    display: none; }
  .mapaP {
    display: contents; }
  .derechos {
    font-size: x-small; } }
