@import "variables";

.derechos{
    color: rgb(252, 249, 249);
    grid-area: navFooter;
    display: flex;
    flex-direction: row ;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    padding: 1.5rem;
}
.redes {
    grid-area: redes;
    display: flex;
    justify-content: space-around;    
    align-items: center;
    max-width: 200%;
}
.imgRedes { 
   display: flex;
   justify-content: space-around;
   align-items: center;
//    align-content: center;
}

footer{
        margin-top:50px;
        width:100%;
        background-color: aquamarine;
    }