@media (max-width: 2500px) {
    header a {
        font-size: x;
    }

    .contiene {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.5rem;
    }

    .imgRedes {
        max-width: 3rem;
    }

    .mapa {
        display: none;
    }

    .mapaP {
        display: none;
    }
}

@media (max-width: 768px) {
    header a {
        font-size: small;
    }

    .contiene {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        margin: 2rem;
    }

    #hamburguesa {
        grid-area: nav;
        display: block;
    }

    .container {
        background-color: #333;
        display: block;
        align-items: center;
        justify-content: flex-end;
        padding-top: 20%;
    }

    .boton {
        font-size: small;
        // width: 40%;
    }

    .navegador {
        display: none;
    }

    .ImgRedes {
        max-width: 1rem;
    }

    .mapaG {
        display: none;
    }

    .mapa {
        display: contents;
    }

    .mapaP {
        display: none;
    }

    .derechos {
        font-size: small;
    }
}



@media (max-width: 350px) {
    header a {
        font-size: x-small
    }

    .contiene {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
        margin: 1rem
    }

    .boton {
        font-size: small;
        // width: 50%;
    }

    .imgRedes {
        max-width: 1.2rem;
    }

    .mapaG {
        display: none;
    }

    .mapa {
        display: none;
    }

    .mapaP {
        display: contents;
    }

    .derechos {
        font-size: x-small;
    }
}