@media (max-width: 2500px) {
    header a{ 
        font-size: x;
    }
    .contiene{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.5rem;
        }
        .imgRedes {
            width: 5%;}
}

@media (max-width: 768px) {
    header a{
        font-size: small;
    }
    .contiene{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        margin: 2rem;
          }
    #hamburguesa{
        grid-area: nav;
        display: block;
    }
    .container{
        background-color: #333;
        display: bl;
        align-items: center;
        justify-content: flex-end;
        padding-top: 20%;
    }

    .boton {
        font-size: small;
        // width: 50%;
        }

    .navegador{ 
        display: none;}

        .imgRedes {
            width: 7%;
        }
    }

@media (max-width: 350px) {
    header a{ 
        font-size: x-small
    }

    .contiene{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
        margin: 1rem
    }

    .boton {
        font-size: small;
        // width: 50%;
        }

        .imgRedes {
            width: 12%;}
}