$backcolorft: rgb(165, 42, 114);
$colorboton:  green;
$colornav: rgb(196, 79, 95);
$type: Georgia, 'Times New Roman', Times, serif;
$typeboton: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$typeimportant: 'Euphoria Script', cursive;