$backcolorft: rgb(165, 42, 114);
$colorboton:  rgb(15, 17, 155);
$colornav: rgb(131, 204, 238); 
$backgroundcolor:rgb(164, 205, 221); 
$type: Georgia, 'Times New Roman', Times, serif;
$typeboton: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$typeimportant: 'Euphoria Script', cursive;